<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            
            
            <h3>Datos de la figura en escalera</h3>
            <form [formGroup]="figuraForm" (ngSubmit)="listado()" novalidate>
                <div class="form-group">

                    <div class="form-group">
                        <label class="form-label">Escoger el agente</label>
                        <select type="text" formControlName="Nombreagente">
                            <option value="Agente C">Agente C</option>
                            
                            
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Ingese el nùmero</label>
                        <input type="number" formControlName="Numn" class="form-control">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

            <td>
                <button type="button" class="btn btn btn-warning btn-sm move-right" [routerLink]="['/listarfiguraescalera']">Volver</button>
            </td>

            <td>
                <button type="button" class="btn btn btn-warning btn-sm move-right" [routerLink]="['/tendenciacentral']">Ir a tendencia central</button>
            </td>
            

            
            <h4>Listado de tareas registradas</h4>
                <table class="table" >
                    <thead>
                        <tr>	
                            
                            <th scope="col">Generando la figura</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of Listado">

                           

                            <td style="text-align:center">{{p.respuestafingura}} </td>
                            
                        </tr>
                    </tbody>
                </table>
             
            
        </div>
    </div>
</div>